@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark {
  background-color: #0f0e17;
  color: #ffffff;
  transition: background-color 0.5s, color 0.5s;
}

.dark .bg-stars {
  background-color: #2e005f;
  background-image: radial-gradient(#fff, transparent);
}

.dark .bg-glow {
  background-color: #ffde59;
  box-shadow: 0px 0px 15px 5px #ffde59;
}

input, textarea {
  background: #ffffff;
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.dark input, .dark textarea {
  background: #333;
  color: #fff;
}
